<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="row justify-content-center">
  <div class="col-md-4 text-center">
    <form *ngIf="!success" #f="ngForm" (ngSubmit)="onSubmit()">
      <div class="regForm"> 
          <img class="mb-4" src="assets/images/avatar.png" alt="" > 
          <div class="form-group">
              <label for="name" class="sr-only">Name</label>
              <input type="text" id="name" name="name" [(ngModel)]="userRegistration.name" class="form-control" placeholder="Vaša imia" required autoFocus>
          </div>
          <div class="form-group">
              <label for="email" class="sr-only">Email address</label>
              <input type="email" id="email" name="email" #email="ngModel" [(ngModel)]="userRegistration.email" class="form-control" placeholder="Elektronnaja pošta" email required>
              <small [hidden]="email.valid || (email.pristine && !submitted)" class="text-danger">Kali łaska, uviadzicie karektny adras</small>
          </div>
          <div class="form-group">
              <label for="password" class="sr-only">Password</label>
              <input type="password" id="password" name="password" [(ngModel)]="userRegistration.password" class="form-control" placeholder="Parol" aria-describedby="passwordHelp" required>     
              <small id="passwordHelp" class="form-text text-muted">Min. 6 znakaŭ ułučajučy nie litarna-ličbavyja znaki</small>
            </div>   
          <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!f.form.valid">Usio</button>
          <ngx-spinner></ngx-spinner>   
          <div *ngIf="error" class="alert alert-danger mt-3" role="alert">
              <strong>Voooj!</strong> {{error}}
          </div>     
      </div>
    </form>      
    <div *ngIf="success" class="alert alert-success" role="alert">
        <h4 class="alert-heading">Jaki małajčyna!</h4>
        <p>Akaŭnt byŭ stvorany, <a routerLink="/login">załahińciesia</a>, kab praciahnuć.</p>        
    </div>  
  </div> 
</body>