################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BikeRide/v16
/.vs/BikeRide/config
