body {
    background-image:url(../../../assets/images/lohinLandscape.png);
    background-color: rgb(190, 220, 230);
    background-position: center;
    background-size:cover;
    background-repeat:no-repeat;
    min-height:100vh;
    font-family:'Roboto', sans-serif;
}

img {
    width: 14%;
    margin: 6em 0em 0em 42em;
    cursor: pointer;
}
