<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
<body>
    <div>
        <nav>
            <a href="/snake" role="button"><img class="btn1" src="../../../assets/images/buttons/pointers/1.png"/></a>
            <a href="/brick-breaker" role="button"><img class="btn2" src="../../../assets/images/buttons/pointers/2.png"/></a>
            <a href="/tic-tac-toe" role="button"><img class="btn3" src="../../../assets/images/buttons/pointers/3.png"/></a>
        </nav>
        <nav>
            <a href="/badmaker" role="button"><img class="btn4" src="../../../assets/images/buttons/pointers/4.png"/></a>
            <a href="/math" role="button"><img class="btn5" src="../../../assets/images/buttons/pointers/5.png"/></a>
            <a href="/gallery" role="button"><img class="btn6" src="../../../assets/images/buttons/pointers/6.png"/></a>
        </nav>
    </div>
    
</body>
