body {
    background-image:url(../../../assets/images/mapLandscape.png);
    background-color: rgb(190, 220, 230);
    background-position: center;
    background-size:cover;
    background-repeat:no-repeat;
    min-height:100vh;
}