@{
    var version = typeof(IdentityServer4.Hosting.IdentityServerMiddleware).Assembly.GetName().Version.ToString();
}

<h1 class="mt-5">Hello form IdentityServer</h1>
<p class="lead"><small>(version @version)</small></p>




