body {
    background-image:url(../../../assets/images/indexLandscape.png);
    background-color: rgb(190, 220, 230);
    background-position: center;
    background-size:cover;
    background-repeat:no-repeat;
    min-height:100vh;
    font-family:'Roboto', sans-serif;
}

.btnReg {
    width: 20%;
    margin: 29em 0em 0em 27em ;
}

.btnLog
{
    width: 20%;
    margin: 12em 0em 0em -7em ;
}

.btnTop
{
    width: 20%;
    margin: -45em 0em 0em 55em ;
}
