body {
    background-image:url(../../../assets/images/meetingLandscape.png);
    background-color: rgb(190, 220, 230);
    background-position: center;
    background-size:cover;
    background-repeat:no-repeat;
    min-height:100vh;
}

.btn {
    width: 37%;
    margin: 45em 0em 0em 36em ;
}