<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <div>
    <img class="girl" src="../../../assets/images/girls/meeting.png" alt="">
  </div>

  <div class="message1">
		<img class="img1" src="../../../assets/images/message.png" alt="">
		<div class="textblock1">
		  <p>
			  Voś tabie i 18, ci asablivaja<br/> data, nie praŭda? A značyć i <br/>padarunak pavinien być<br/> takim ža. 
        Ale pakul što pajšli<br/> pakatajemsia na vielikach,<br/> ty ž daŭno na jaho <br/>nie siadaŭ
		  </p>
    </div>
    <button  routerLink="/map" class="btn">Pajechali</button>

  </div>
  
</body>

 